RewriteBase /
RewriteEngine On

# Si el archivo o directorio solicitado no existe, enviar a index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]